.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatarimage
{
    border-radius: 25%;
    height: 50px;
}

.listImage
{
    border-radius: 5%;
    height: 300px;
}

li
{
    list-style: none;
}

#paragraph, #header, #tandc, #airdrop_
{
    display:none;
}

#about-paragraph
{
    width: 100%;
}

.commonsitem
{
    padding:8px;
}


.item
{
    float: left;
    max-width: 33%;
    width: 33%;
    border: 1px ;
    border-style: inset;
    padding:8px;
    text-align: center;
    min-height: 358px;
}

.itemImage
{
    max-height: 350px;
    max-width: 95%;
}

#previewImage
{
    max-height: 800px;
    max-width: 95%;
}

#loading
{
    display: none;
}

.creator
{
    font-size: 10px;
}

.username
{
    font-size: 20px;
}

.nftview
{
    max-width: 400px;
}
